#!/usr/bin/env bash
set -e

{% if git_device_cloning is defined %}
{% for git in git_device_cloning %}
git clone --recurse-submodules -q {% if git.version is defined %} --branch {{ git.version }} {% endif %} {{ git.repo }} {{ git.dest }} | true
{% endfor %}
{% endif %}
{% if all_group_git_cloning is defined %}
{% for git in all_group_git_cloning %}
git clone --recurse-submodules -q {% if git.version is defined %} --branch {{ git.version }} {% endif %} {{ git.repo }} {{ git.dest }} | true
{% endfor %}
{% endif %}
{% if group_git_cloning is defined %}
{% for git in group_git_cloning %}
git clone --recurse-submodules -q {% if git.version is defined %} --branch {{ git.version }} {% endif %}  {{ git.repo }} {{ git.dest }} | true
{% endfor %}
{% endif %}
